
* {
    box-sizing: border-box;
  }
  
  

body {
    margin: 0;
    padding: 0;
    background-color: #f3f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.font{
    font-family: Arial, sans-serif;

}


.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the row horizontally */

    margin-right: -15px;
    margin-left: -15px
}


.signin-form {
    width: 320px; 
    height: auto; 
    margin: 0 auto;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #0077B5; /* LinkedIn blue color */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005B8A; /* Darker blue for hover effect */
}


table {
    width: 30%;
    border: 1px solid;
    margin-bottom: 1rem;

    
  }
  td,th {
    border: 1px solid;
    padding: 2px 8px;
  }
  p{
    display: block;
    font-size: 18px;
  }
  .text-right{
    text-align: right !important;
  }
  .text-left{
    text-align: left !important;
  }
  .text-center{
    text-align: center !important;

  }

  .col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}
.bg-yellow{
    background:#FFFF00 !important;
}
.bg-lightRed {
    background-color: rgba(255, 0, 0, 0.3); /* Red color with 50% opacity */
}
.fs-22{
    font-size: 22px;
}
.header {
    width: 100%;
    background-color: #793115; /* Header background color */
    color: #000; /* Header text color */
    position: absolute;
    
  top: 0;
  height: 40%;
  margin: 0;
    padding: 0;
}

.banner {
    text-align: center;
    padding: 20px 0;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.banner-text {
    color: #000;
    text-align: center;
    padding: 20px;
    margin: 40px;
    text-transform: capitalize;
}

.banner h1 {
    font-size: 36px;
}

.banner p {
    font-size: 18px;
}

/* Reset default list styles and remove text decoration from links */
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    color: #fff; /* Text color */
    width: 100%;
    text-transform: capitalize;

    background-color: #C19A6B ; /* Navbar background color */

}
.color-ligtBrown{
    background-color: #C19A6B ; /* Navbar background color */

}
.color-brown{
   color: #793115 ; /* Navbar background color */

}
ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 18px;
}

li {
    padding: 0 15px;
}

a {
    color: #008000; /* Link text color */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #008000; /* Link text color on hover */
}

.box {
    flex: 1;
    height: 100%;
}

.orange-box {
    background-color: orange;
}

.blue-box {
    background-color: blue;
}
.h1-flexbox{
    color: #fff;
    margin-top: 50%;
}
.floating-article {
    position: absolute;
            width: 300px; /* Set the width of your floating article */
            background-color: #e1dbdb;    /* margin-left: 1%; */
        
}
.container-float {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #ec4fbdba;
}
.pl-1{
    padding-left: 1%;
}
.scrollable-content {
    max-height: 155px; /* Set a max height for the scrollable area */
    overflow: hidden; /* Hide vertical scrollbar */
}
.m-0{
    margin: 0;
}
.article1 {
    left: 20px;
}

.article2 {
    left: 340px;
}

.article3 {
    left: 660px;
}
.article4 {
    left: 20px;
    top: 354px; /* Adjust the top position to place it under the scrollable paragraph */
}

.article5 {
    left: 340px;
    top: 354px; /* Adjust the top position to place it under the scrollable paragraph */
}
.scrollable-paragraph {
    position: absolute;
    width: 100%;
    top: 250px; /* Adjust the top position to place it below the floating articles */
    height: 90px;
    border-top: 4px solid #000; /* Add a top border */
    border-bottom: 4px solid #000; /* Add a bottom border */
        overflow: hidden;
        font-weight: bold; /* Make the text inside <pre> bold */
}

.scrollable-paragraph-inner {
    overflow-y: scroll;
    padding-right: 17px;
    height: 100%;
}